flask
flask-login
flask-sqlalchemy
flask-wtf
email_validator
flask-bcrypt
Pillow
flask-mail
itsdangerous
python-dotenv
flask-admin
flask_bootstrap
awscli
gunicorn  # Production-grade WSGI server
pytest  # For testing
pytest-flask # For flask-app-testing
flake8  # For linting
black  # For code formatting
boto3  # AWS SDK for Python
pre-commit 
isort

