{% extends "admin/layout.html" %}

{% block title %} Admin Login {% endblock %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Enter to your admin account details</legend>
                    <div class="form-group">
                        {{ form.admin_email.label(class="form-control-label") }}
                        
                        {% if form.admin_email.errors %}
                            {{ form.admin_email(class='form-control form-control-lg is-invalid') }}
                            <div class="invalid-feedback">
                                
                                {% for error in form.admin_email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                                    
                            </div>
                        {% else %}
                            {{ form.admin_email(class="form-control form-control-lg") }}
                        {% endif %}
                            
                    </div>
                    <div class="form-group">
                        {{ form.admin_password.label(class="form-control-label") }}
                        
                        {% if form.admin_password.errors %}
                            {{ form.admin_password(class='form-control form-control-lg is-invalid') }}
                            <div class="invalid-feedback">
                                
                                {% for error in form.admin_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                                    
                            </div>
                        {% else %}
                            {{ form.admin_password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock  %}
    
